body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.heading{
    font-size: 30px;
    padding-left: 7%;
}

/*----- Influencer item -----*/

section{
    display: flex;
    margin-bottom: 7%;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width p{
    font-size: 20px;
    font-weight: 700;
}
h1{
    font-size: 50px;
}
.half-width img{
width: 70%;
}
.fa-arrow-right{
    margin-left: 10px;
}
.button{
    background-color:rgb(219, 74, 122) ;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

/*----- Popular Collection -----*/

h2{
    font-size: 40px;
    padding-left: 7%; 
    text-align: center;
    margin-bottom: 60px;
}
.item img{
    align-items: center;
}

.fa-star.filled{
    color: gold;
    font-size: 10px;
}
.fa-star-half-alt{
    font-size: 10px;
    color: gold;
}
.rate{
    font-size: 13px;
}
.item-info{
    font-size: 20px;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:0 65px;
}
.item{
    margin: 20px 80px;
    box-shadow: 0 0 10px;
    padding-left: 62px;
    padding-top: 42px;
    padding-bottom: 15px;
    border-radius: 7px;
}

h3{
    font-size: 30px;
}
.item-info{
    font-size: 20px;
}
.second-button{
    background:none;
    border:none;
    margin-bottom: 30px;
    padding-left: 1700px;
    cursor: pointer;
    color: hotpink;
    font-size: 17px;
    text-align: right;
}

/*---- Others item ----*/

.last-title{
    color: white;
    background-color: hotpink;
    padding: 2px 25px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;
}
.button-three{
    background-color:rgb(219, 74, 122) ;
    font-size: 17px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}
.all-info{
    font-size: 20px;
    font-weight: 700;
}
.special{
    color: hotpink;
}
.last-banner{
    display: flex;
}
.all-info{
    width: 50%;
    padding-left: 7%;
}
.all-info img{
width: 80%;
}
.button-three{
    background-color:rgb(219, 74, 122) ;
    font-size: 17px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

/*---- Fotter ----*/

 .footer{
     background-color: black;
     padding: 50px 0;
     margin: 0;
     text-align: center;
     color: white;
 }
 h4{
     color: white;
     text-align: center;
     font-size: 35px;
     font-weight: 400;
 }