body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
section{
    display: flex;
    margin-bottom: 10%;
}
.heading{
    font-size: 30px;
    padding-left: 7%;
}
h1{
    font-size: 50px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width p{
    font-size: 20px;
    font-weight: 700;
}
.half-width img{
width: 70%;
}
.button{
    background-color:rgb(219, 74, 122) ;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 17px;
    color: white;
}
.fa-arrow-right{
    margin-left: 10px;
}
h2{
    font-size: 35px;
    padding-left: 7%; 
    text-align: center;
}
.fa-star.filled{
    color: gold;
}
.fa-star.filled{
    font-size: 10px;
}
.fa-star-half-alt{
    font-size: 10px;
    color: gold;
}
.rate{
    font-size: 13px;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:0 65px;
}
.item{
    margin: 20px 80px;
    box-shadow: 0 0 10px;
    padding-left: 62px;
    padding-top: 42px;
    padding-bottom: 15px;
    border-radius: 7px;
}
.item img{
align-items: center;
}
h3{
    font-size: 30px;
}
.item-info{
    font-size: 20px;
}